@font-face {
  font-family: 'Parkinsans';
  src: url('../fonts/Parkinsans[wght].woff2') format('woff2-variations'),
       url('../fonts/Parkinsans[wght].woff2') format('woff2');
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Parkinsans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
